<nav>
    <a routerLink="/">
        <img src="assets/04.png" class="icon"/>
    </a>
    <a routerLink="/Movies">
        <img src="assets/03.png" class="icon"/>
    </a>
    <a routerLink="/Series">
        <img src="assets/02.png" class="icon"/>
    </a>
</nav>
<section>
    <h1>Media Watch List</h1>
    <p class="description">Keeping track of media I want to watch.</p>
    <!-- <media-form></media-form>
    <media-item-list></media-item-list> -->
    <!--media-item-list [mediaItems]="firstMediaItem"></media-item-list-->
    <router-outlet></router-outlet>
</section>
